{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <h1 class="text-center mb-5">Gallery</h1>

    <div class="row">

        <div class="col-md-4 mb-4">
            <img src="https://images.unsplash.com/photo-1516574187841-cb9cc2ca948b"
                 class="img-fluid rounded">
        </div>

        <div class="col-md-4 mb-4">
            <img src="https://images.unsplash.com/photo-1584515933487-779824d29309"
                 class="img-fluid rounded">
        </div>

        <div class="col-md-4 mb-4">
            <img src="https://images.unsplash.com/photo-1526256262350-7da7584cf5eb"
                 class="img-fluid rounded">
        </div>

    </div>

</div>

{% endblock %}