{% extends 'base.html' %}

{% block content %}

<section class="hero text-center text-white d-flex align-items-center justify-content-center">

    
    <div>

        <h1 class="display-3 fw-bold">24/7 Emergency Ambulance Service</h1>

        <p class="lead">Fast & Reliable Ambulance Support</p>

        <a href="/booking/" class="btn btn-danger btn-lg">Book Ambulance</a>

    </div>

</section>


<section class="container mt-5">

    <div class="row text-center">

        <div class="col-md-4">
            <h3>ICU Ambulance</h3>
            <p>Advanced ICU support ambulance service.</p>
        </div>

        <div class="col-md-4">
            <h3>Emergency Service</h3>
            <p>Quick response emergency ambulance.</p>
        </div>

        <div class="col-md-4">
            <h3>24/7 Available</h3>
            <p>Always ready for emergency situations.</p>
        </div>

    </div>

</section>
{% endblock %}